.burger-button {
    @include reset-button;
    @include square(55px);
  
    position: relative;
    border-radius: var(--default-border-radius);
    color: var(--color-light);
  
    @include hover {

      &::after {
        background-color: var(--color-gray);
        box-shadow: var(--color-gray) 0 -8px, var(--color-gray) 0 8px;
      }
    }
  
    &::after {
      @include abs-center;

      transition: all 0.3s ease-in;
  
      content: '';
      width: 50%;
      height: 3px;
      width: 60%;
      background-color: var(--color-light);
      border-radius: 10px;
      box-shadow: var(--color-light) 0 -9px, var(--color-light) 0 9px;
    }
  }
