.ellipse {
    position: relative;
    overflow-x: hidden;

    &__container {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 100%;
        pointer-events: none; // Чтобы клики проходили сквозь контейнер
        z-index: 0; // Устанавливаем z-index, чтобы эллипс был под контентом 
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    &__main {

        @include mobile {
            width: 250vw;
        }

        width: 200vw;
        height: 150vh;
        background: var(--color-dark);
        border-radius: 50%;
        position: absolute;
        transition: all 0.9s ease-out;

        &.expanded {
            width: 200vw;
            height: 150vh;
        }
    }

    &__shadow {

        @include mobile {
            width: 150vw;
        }

        width: 110vw;
        height: 70vh;
        background: var(--color-dark);
        border-radius: 50%;
        box-shadow: 0 0 150px rgba(124, 114, 255, 0.5); // Более размытое свечение
        position: absolute;
        transition: all 0.9s ease-out;

        &.expanded {
            height: 70vh;
            width: 200vw;
        }
    }

}