.section {
    @include flex-column(48px);

    padding-top: 18px;

    @include tablet {
        row-gap: 40px;
    }

    @include mobile {
        row-gap: 30px;
    }

    &__header {
        display: flex;
        align-items: center;
        column-gap: 33px;

        margin-left: 18px;

        @include appear('right', -100px, 'top', 200px, 0, 0, 1s);

        @include tablet {
            margin-left: 0px;
            column-gap: 40px;
        }
        
    }

    &__icon {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__question {
        max-width: 90%;
        @include tablet {
            max-width: 80%;
        }
    }

    &__body {
        display: flex;

        &--no-flex {
            display: block;
        }

    }

    &__line {
        min-width: 6px;

        @include tablet {
            min-width: 5px;
        }

        @include mobile {
            min-width: 4px;
        }
    }

    &--sticky {
        position: relative;
        height: 3000px;
    
        .section__sticky-container {
            position: sticky;
            position: -webkit-sticky;
            top: 35px;
        }
    }

}