.sticky-section {

    display: flex;
    justify-content: space-between;


    &__line-container {
        position: relative;
        height: 2530px;
        margin-left: 27px;
    }

    &__line-wrapper {
        position: sticky;
        position: -webkit-sticky;
        top: 35px;
    }

    &__icon {
        margin-left: -7px;

        position: relative;
        opacity: 0;
        transform: rotate(90deg);
        transition: all 0.7s ease;

        &.visible {
            transform: rotate(0deg);
            opacity: 1;
        }
    }

    &__line {
        background-color: green;
    }

    &__header-container {
        position: relative;
        height: 2427px;
        margin-top: -5px;
    }

    &__header-wrapper {
        position: sticky;
        position: -webkit-sticky;
        top: 25px;

        @include flex-column(40px);
    }

    &__title {
        @include appear('right', 0, 'top', 200px, 0, 0, 1s);
    }

    &__join {
        @include appear('right', 0, 'top', 200px, 0, 0, 1s);
    }

    &__list {
        position: relative;

        @include flex-column(24px);
        align-items: center;

        height: 2400px;

        @include appear('right', 0, 'top', 200px, 0, 0, 1s);
    }

    &__item {
        position: sticky;
        position: -webkit-sticky;
        
        top: 0;
    }
}