.sticky-section {

    display: flex;
    justify-content: space-between;


    &__line-container {
        position: relative;
        height: 2530px;
        margin-left: 27px;
    }

    &__line-wrapper {
        position: sticky;
        position: -webkit-sticky;
        top: 35px;
    }

    &__icon {
        margin-left: -7px;
    }

    &__line {
        background-color: green;
    }

    &__header-container {
        position: relative;
        height: 2427px;
        margin-top: -5px;
    }

    &__header-wrapper {
        position: sticky;
        position: -webkit-sticky;
        top: 25px;

        @include flex-column(40px);
    }

    &__list {
        position: relative;

        @include flex-column(24px);
        align-items: center;

        height: 2400px;
    }

    &__item {
        position: sticky;
        position: -webkit-sticky;
        
        top: 0;
    }
}