.benefit-card {

    @mixin small-card {
        max-width: 330px;
        max-height: 380px;

        min-width: 330px;
        min-height: 380px;
    }

    max-height: 370px;
    max-width: 350px;

    min-height: 370px;
    min-width: 350px;

    @include media-with-max-and-min(1196px, 1127px) {
        @include small-card();
    }

    @include media-with-max-and-min(857px, 734px) {
        @include small-card()
    }

    background-color: var(--color-dark);

    overflow: hidden;

    border-radius: 20px;

    position: relative;

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url('../../images/benefit-card-purple-bg.png');
        background-repeat: no-repeat;
    }

    &--green-bg {
        .benefit-card__bg {
            background-image: url('../../images/benefit-card-green-bg.png');
            background-position: -15px 0;
        }
    }

    &__content {
        padding-block: 50px;
        padding-inline: 30px;

        position: relative;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        row-gap: 40px;

        z-index: 10;
    }

    &__title {
        font-family: 'Manrope SemiBold';
        font-size: 24px;

        @include desktop {
            font-size: 22px;
        }
    }

    &__info {
        font-family: 'Manrope Light';
        font-size: 20px;
        color: var(--color-gray);
    }

}