.benefit-card {

    width: 100%;
    height: 100%;

    margin-inline: auto;

    @include desktop {
        width: 95%;
    }

    background-color: var(--color-dark);

    overflow: hidden;

    border-radius: 20px;

    position: relative;

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url('../../images/benefit-card-purple-bg.png');
        background-repeat: no-repeat;
    }

    &--green-bg {
        .benefit-card__bg {
            background-image: url('../../images/benefit-card-green-bg.png');
            background-position: -15px 0;
        }
    }

    &__content {
        padding-block: 50px;
        padding-inline: 30px;

        @include media-with-max(741px) {
            row-gap: 30px;
        }

        @include media-with-max(510px) {
            padding-block: 30px;
            padding-inline: 20px;

            row-gap: 20px;
        }

        position: relative;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        row-gap: 40px;

        z-index: 10;
    }

    &__title {
        font-family: 'Manrope SemiBold';
        font-size: 24px;

        @include desktop {
            font-size: 22px;
        }

        @include media-with-max(510px) {
            font-size: 20px;
        }
    }

    &__info {
        font-family: 'Manrope Light';
        font-size: 20px;
        color: var(--color-gray);

        @include media-with-max(510px) {
            font-size: 18px;
        }
    }

}