.case-card {
    max-width: 55%;
    min-width: 55%;

    height: 100%;

    border-radius: 20px;

    border: 2px solid rgba(48, 61, 48, 1);

    background-color: var(--color-dark);

    opacity: 0.9;

    position: relative;

    @include media-with-max(1248px) {
        padding-block: 30px;
        padding-inline: 40px;
    }


    @include media-with-max(942px) {
        max-width: 70%;
        min-width: 70%;
    }

    @include media-with-max(770px) {
        max-width: 80%;
        min-width: 80%;
    }

    @include media-with-max(688px) {
        max-width: 90%;
        max-width: 90%;
    }

    @include media-with-max(574px) {
        max-width: 95%;
        max-width: 95%;

    }

    @include media-with-max(544px) {
        max-width: 97%;
        max-width: 97%;
    }

    @include media-with-max(530px) {
        max-width: 95%;
        max-width: 95%;
    }

    padding-block: 55px;
    padding-inline: 60px;

    &__ellipse {

        @include media-with-max-and-min(820px, 642px) {
            left: 20%;
        }

        @include media-with-max-and-min(641px, 531px) {
            width: 80%;
            left: 10%;
        }

        @include media-with-max(530px) {
            width: 60%;
            left: 20%;
        }

        height: 270px;
        width: 330px;

        background: rgba(102, 199, 55, 1);

        opacity: 0.5;

        border-radius: 50%;
        position: absolute;

        top: -213px;
        left: 25%;

        z-index: -1;

        filter: blur(40px);
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 20px;
        z-index: 10;
        height: 100%;

        @include media-with-max(544px) {
            row-gap: 30px;
        }
    }

    &__avatar {
        @include media-with-max(820px) {
            width: 70px;
            height: 70px;

            img {
                width: 60px;
                height: 60px;
            }
        }

        @include media-with-max(820px) {
            width: 60px;
            height: 60px;

            img {
                width: 50px;
                height: 50px;
            }
        }

        width: 90px;
        /* Желаемый размер аватара */
        height: 90px;
        /* Желаемый размер аватара */
        border-radius: 50%;
        /* Круглая форма */
        border: 1px solid var(--color-gray);
        padding: 4px;

        img {
            width: 80px;
            /* Желаемый размер аватара */
            height: 80px;
            /* Желаемый размер аватара */
            border-radius: 50%;
            /* Круглая форма */
            object-fit: cover;
            /* Убедиться, что изображение не искажается */
        }
    }

    &__info {
        @include font-settings(24px, 'Manrope Light');

        text-align: left;

        @include media-with-max(1248px) {
            font-size: 19px;
        }

        @include media-with-max(641px) {
            font-size: 18px;
        }
    }

    &__btn {
        align-self: flex-start;
    }
}