.cases {
    width: 90%;
    margin-left: auto;
    margin-right: 1px;

    margin-bottom: 130px;

    @include tablet {
        margin-bottom: 100px;
    }

    @include appear('', 0, 'bottom', -300px, 0, 0, 0.8s);

    &__list {
        margin-right: 0;
        padding-right: 0;
        
        width: 100%;
    }

    .swiper-button-prev, .swiper-button-next {
        color: rgba(125, 115, 255, 1);
        font-weight: 800;
        background: transparent;
        border: none;
        outline: none;
    }

}
