.case-card {
    max-width: 700px;

    min-width: 700px;
    border-radius: 20px;

    border: 2px solid rgba(48, 61, 48, 1);

    background-color: var(--color-dark);

    opacity: 0.9;

    position: relative;

    @include media-with-max(820px) {
        max-width: 550px;
        min-width: 550px;
    }


    @include media-with-max(641px) {
        max-width: 460px;
        min-width: 460px;

        max-height: 259px;

        padding-block: 25px;
        padding-inline: 45px;
    }

    padding-block: 55px;
    padding-inline: 60px;

    &__ellipse {

        @include media-with-max(820px) {
            left: 20%;
        }

        @include media-with-max(641px) {
            left: 15%;
        }

        height: 270px;
        width: 330px;

        background: rgba(102, 199, 55, 1);

        opacity: 0.5;

        border-radius: 50%;
        position: absolute;

        top: -213px;
        left: 25%;

        z-index: -1;

        filter: blur(40px); /* Добавлено размытие */
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 20px;
        z-index: 10;
        height: 100%;
    }

    &__avatar {
        @include media-with-max(820px) {
            width: 70px;
            height: 70px;

            img {
                width: 60px;
                height: 60px;
            }
        }

        @include media-with-max(820px) {
            width: 60px;
            height: 60px;

            img {
                width: 50px;
                height: 50px;
            }
        }

        width: 90px; /* Желаемый размер аватара */
        height: 90px; /* Желаемый размер аватара */
        border-radius: 50%; /* Круглая форма */
        border: 1px solid var(--color-gray);
        padding: 4px;

        img {
            width: 80px; /* Желаемый размер аватара */
            height: 80px; /* Желаемый размер аватара */
            border-radius: 50%; /* Круглая форма */
            object-fit: cover; /* Убедиться, что изображение не искажается */
        }
    }

    &__info {
        @include font-settings(24px, 'Manrope Light');

        text-align: left;

        @include media-with-max(820px) {
            font-size: 20px;
        }

        @include media-with-max(641px) {
            font-size: 18px;
        }
    }

    &__btn {
        align-self: flex-start;
    }
}