.circular-description {
    &__number {
        @include font-settings(inherit, inherit, linear-gradient(89.53deg, #C3A9FF 12.17%, #591EFF 151.86%), true);

        @include horizontal-line-between(20px, rgba(89, 30, 255, 1), 4.5px, solid);

        position: relative;

        &::before {
            content: '';
            width: 4px;
            height: 100px;
            position: absolute;
            top: 72.5%;
            left: -11.7%;
            background-color: rgba(89, 30, 255, 1);
            rotate: 50deg;
        }

        &::after {
            content: '';
            width: 20px;
            height: 20px;
            position: absolute;
            right: -2%;
            top: 86%;
            border-radius: 50%;
            background-color: rgba(89, 30, 255, 1);
        }
    }

}