.header-question {
    &--blue-bold {
        b {
            color: rgba(79, 149, 255, 1);
        }
    }

    &--purple-bold {
        b {
            color: rgba(124, 114, 255, 1);
        }
    }

    &--green-bold {
        b {
            color: rgba(102, 199, 55, 1);
        }
    }
}