.potential-partner-card {
    width: 520px;

    position: relative;

    @include flex-column(20px);

    background-color: rgba(22, 27, 34, 1);

    padding-inline-start: 56px;
    padding-inline-end: 108px;

    padding-bottom: 40px;

    border-radius: 27px;
    border-top-left-radius: 0px;

    &__button {
        @include reset-button();

        color: var(--color-light);

        text-align: left;

        font-family: 'Manrope SemiBold';

        font-size: 24px;

        position: relative;

        display: flex;
        align-items: center;
        column-gap: 15px;

        transition: column-gap 0.3s ease;

        @include hover {

            column-gap: 23px;
            
            .potential-partner-card__button-text::after {
                width: 76%;
            }
    
            .potential-partner-card__arrow::before {
                width: 20px; /* длина линии при наведении */
            }
        }
    }

    &__arrow {
        margin-top: 21px;
        transform: translateY(-50%) rotate(-45deg);
        width: 15px;
        height: 15px;
        border-right: 3px solid white;
        border-bottom: 3px solid white;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, right 0.3s ease;

        &::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            width: 0px;
            height: 3px;
            background-color: white;
            transform: translate(-50%, -50%) rotate(45deg);
            transition: width 0.3s ease;
        }
    }

    &__button-text {
        &::after {
            content: '';
            position: absolute;
            top: 104%;
            left: -0%;
            width: 0;
            height: 2px;
            background-color: currentColor;
            transition: width 0.3s ease;
        }
    }

    &__text {
        font-size: 29px;
        color: var(--color-gray);

        min-height: 111px;

        margin-bottom: 25px;
    }

    &__icon {
        align-self: flex-start;

        margin-bottom: 20px;
    }

    &__radius-rectangle {
        position: absolute;

        width: 100px;
        height: 40px;

        background-color: var(--color-dark);

        left: 69.6%;
        top: -40px;

        border-bottom-left-radius: 27px;

        z-index: 1;
    }

    &::before {
        position: absolute;

        content: '';

        width: 70%;
        height: 40px;
        border-radius: inherit;

        border-bottom-left-radius: 0px;
        border-top-left-radius: 27px;

        background-color: inherit;

        top: -40px;
        left: 0;
    }

    &::after {
        position: absolute;

        content: '';

        @include circle(50px);

        border-radius: inherit;

        background-color: inherit;

        top: -23px;
        left: 66%;
    }

    opacity: 0;

    transition: all 1s ease;

    &--1 {
        transition-duration: 1s;
        top: 500px;
    }
    

    &--2 {
        top: 600px;
        transition-duration: 1.4s;
    }


    &.visible {
        top: 0;
        opacity: 1;
    }

}