.potential-partner-card {
    width: 520px;

    position: relative;

    @include flex-column(20px);

    background-color: rgba(22, 27, 34, 1);

    padding-inline-start: 56px;
    padding-inline-end: 108px;

    padding-bottom: 40px;

    border-radius: 27px;
    border-top-left-radius: 0px;

    &__button {
        align-self: flex-start;
    }

    &__text {
        font-size: 29px;
        color: var(--color-gray);

        min-height: 111px;

        margin-bottom: 25px;
    }

    &__icon {
        align-self: flex-start;

        margin-bottom: 20px;
    }

    &__radius-rectangle {
        position: absolute;

        width: 100px;
        height: 40px;

        background-color: var(--color-dark);

        left: 69.6%;
        top: -40px;

        border-bottom-left-radius: 27px;

        z-index: 1;
    }

    &::before {
        position: absolute;

        content: '';

        width: 70%;
        height: 40px;
        border-radius: inherit;

        border-bottom-left-radius: 0px;
        border-top-left-radius: 27px;

        background-color: inherit;

        top: -40px;
        left: 0;
    }

    &::after {
        position: absolute;

        content: '';

        @include circle(50px);

        border-radius: inherit;

        background-color: inherit;

        top: -23px;
        left: 66%;
    }

    opacity: 0;

    transition: all 1s ease;

    &--1 {
        transition-duration: 1s;
        top: 500px;
    }
    

    &--2 {
        top: 600px;
        transition-duration: 1.4s;
    }


    &.visible {
        top: 0;
        opacity: 1;
    }

}