.potential-partners {

    margin-top: 50px;

    margin-bottom: 110px;

    &__list {
        @include desktop {
            margin-left: 70px;
            width: 80%;
        }

        @include media-with-max-and-min(1097px, 1024px) {
            margin-left: 40px;
            column-gap: 20px;
        }

        @include tablet {
        }

        @include mobile {
            margin-left: 40px;
        }

        @include media-with-max(638px) {
            max-width: 100%;
        }

        margin-left: 100px;
    }

    &__conclusion {
        margin-top: -50px;

        @include desktop {
            margin-top: -60px;
        }

        @include tablet {
            margin-top: -100px;
        }

        @include mobile {
            margin-top: 0;
        }

    }

}