.step-card {

    background-color: rgba(22, 27, 34, 1);

    min-width: 90%;
    max-width: 90%;

    min-height: 260px;
    max-height: 260px;

    @include desktop {
        min-width: 85%;
        max-width: 85%;

        min-height: 240px;
        max-height: 240px;

        padding-inline: 24px;
        padding-block: 25px;
    }


    @include tablet {
        padding-inline: 15px;
        padding-block: 15px;
    }

    @include media-with-max(850px) {
        max-height: auto;
        min-height: auto;

        padding-inline: 35px;
        padding-block: 30px;
    }

    @include media-with-max(500px) {

        min-width: 95%;
        max-width: 95%;


        max-height: 160px;
        min-height: 160px;

        padding-inline: 15px;
        padding-block: 20px;
    }

    padding-inline: 25px;
    padding-block: 30px;

    border-radius: 20px;
    
    border: 2px solid rgb(140, 179, 233);

    transition: 0.6s;


    &.shadow {
        box-shadow: 4px 8px 40px 0px rgba(79, 149, 255, 0.4);
        transition: 0.6s;

        scale: 1.15;
    }

    &__number {
        display: inline;
        @include font-settings(42px, 'Neutral Face',
        linear-gradient(89.6deg, #A9D1FF 10.35%, #1E78FF 129.05%), true);


        @include media-with-max(850px) {
            font-size: 35px;
        }

        @include media-with-max(499px) {
            font-size: 34px;
        }
    }

    &__info {
        font-size: 18px;

        @include desktop {
            font-size: 16px;
        }

        @include media-with-max-and-min(975px, 851px) {
            margin-top: 10px;
            font-size: 15px;
        }


        @include media-with-max(850px) {
            font-size: 18px;
        }


        @include media-with-max(600px) {
            font-size: 16px;
        }
    }
}