.vladimir-case-modal {

    background-color: rgba(22, 27, 34, 1);
    
    border-radius: 20px;

    &__body {

        width: 100%;
        display: flex;
        flex-direction: column;

        padding-inline: 56px;
        padding-top: 10px;
        padding-bottom: 30px;

        @include mobile {
            padding-inline: 20px;
        }

        @include media-with-max(450px) {
            padding-inline: 10px;
        }
    }

    &__close {
        @include reset-button();
        box-flex-group: none;
        align-self: flex-end;
        font-size: 70px;

        color: var(--color-light);

        @include mobile {
            font-size: 50px;
        }

        @include hover {
            color: var(--color-gray);
            transform: scale(1.2);
        }
    }

    &__content {
        font-size: 22px;
        color: var(--color-gray);

        row-gap: 40px;

        @include mobile {
            font-size: 18px;
        }
    }

    &__title {
        max-width: 90%;
        font-family: 'Manrope Light';
        font-size: 32px;
        color: var(--color-light);

        @include mobile {
            font-size: 24px;
        }

        margin-bottom: 30px;
    }

    &__main-text {
        margin-bottom: 40px;
        b {
            color: var(--color-light) !important;
            font-weight: 500;
        }
    }

    &__resume{
        padding-block: 20px;
        padding-inline: 25px;

        margin-bottom: 40px;

        @include mobile {
            padding-inline: 15px;
        }

        @include media-with-max(450px) {
            padding-inline: 10px;
        }

        
        border: 2px solid rgb(164, 233, 164);
        border-radius: 15px;

        color: var(--color-light);
        
        b {
            @include font-settings(inherit, inherit, linear-gradient(89.53deg, #A9D1FF 12.17%, #1E78FF 151.86%), true)
        }

    }
}